ubuntu@ubuntu:~$ sudo vi /etc/netplan/00-installer-config.yaml
network:
  renderer: networkd
  ethernets:
    eth0:
      addresses:
        - 192.168.1.49/24
      nameservers:
        addresses: [4.2.2.2, 8.8.8.8]
      routes:
        - to: default
          via: 192.168.1.254

  version: 2
  
  sudo netplan apply
  utiliser docker sans passer par sudo:
  sudo usermod -aG docker ubuntu

sur virtualbox
Apès avoir mis la connexion en mode bridge on peut mettre l'adresse ip statique en modifiant le fichier suivant:

ubuntu@ubuntu:~$ sudo vi /etc/netplan/00-installer-config.yaml
network:
  version: 2
  ethernets:
     enp0s3:
        dhcp4: false
        addresses: [192.168.1.100/24]
        gateway4: 192.168.1.254
        nameservers:
          addresses: [8.8.8.8, 8.8.4.4]

Ensuite, enregistrez le fichier et exécutez la commande netplan ci-dessous pour enregistrer les modifications.

$ sudo netplan apply
